/* mobile-first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1366px;
}
header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;

    background: #129799;
}
#menu{
    display: flex;
    width: 66vw;
}
#menu-element{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    
    list-style-type: none;
}
.menu-item{
    font-size: 90%;
    color: #F7F7F7;
}
main{
    display: inline-block;
}
#main-top-box{
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: start;
    align-items: center;

    background: #129799;
}
h1{
    color: #F7F7F7;
    margin-left: .5em;

    background-color: silver;
}
    @media (min-width: 475px){
        h1{
            font-style: italic;        }
    }
#main-down-box{
    width: 100vw;
    height: 50vh;

    background: #FFA185;
}
footer{
    display: flex;
    width: 100vw;
    height: 10vh;

    background: #129799;
}

/* responsive */