/* mobile-first */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;

    background: #129799;
}
#prim-nav{

}
.menu{
    display: flex;
    width: 66vw;
}
.menu-element{
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    
    list-style-type: none;
}
.menu-item{
    font-size: 66%;
    color: #F7F7F7;
}
main{
    display: inline-block;
}
#main-top-box{
    display: inline-block;
    width: 100vw;
    justify-content: center;
    align-items: center;

    background: #129799;
}
#main-top-inside-box{
    display: flex;
    width: 100%;
    /*background-color: silver;*/
    justify-content: center;
    align-items: center;

}
#h-box{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
h1{
    color: #F7F7F7;
    font-size: 4.4vh;
    white-space: nowrap;       
}

    @media (max-width: 468px){
        h1{
            font-size: 2.4vh; 
        }
    }

    /*iphone*/
    /*

    @media (min-width: 300px) and (max-width: 468px){
        h1{
            font-size: 3.4vh; 
        }
    }
    */
    /*ipad*/
    /*
    @media (min-width: 600px) and (max-width: 900px){
        h1{
            font-size: 4.4vh; 
        }
    */
    /*pc*/
    /*
        @media (max-width: 900px){
        h1{
            font-size: 6.6vh; 
            
        }
    }
    */

#life-art{
    width: 45%;
    margin-right: 1.5rem;
    margin-bottom: 0.3em;
}
#main-above-inside-box{
    display: flex;
    width: 100%;
    /*background-color: silver;*/
    justify-content: flex-end;
    align-items: center;

}
#fake-header{
    display: flex;
    width: 100vw;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-around;
}
#sec-nav{
    
}
#main-down-box{
    display: inline-block;
    width: 100vw;
    height: 75vh;

    background: #FFA185;
}
    @media (max-width: 468px){
        #main-down-box{
            height: 55vh;
        }
    }

#main-first-down-box{
    display: block;
}
#main-subtitle-box{
    width: 25vw;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
#main-subtitle{
    color: #FFFFFF;
    font-weight: bold;
}
#main-text-box{
    width: 90vw;
    margin-top: -.5rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
}
#main-text{
    color: #000000;
    font-size: 2vh;
    font-weight: none;
}
#main-second-down-box{
    display: inline-block;
    justify-content: center;
    padding: 1rem;
}
.pics{
    width: 45%;
    margin: .3rem;
}
#main-third-down-box{
    display: flex;
    justify-content: center;
    padding: .5rem;
}
#main-third-down-link{
    color: #000000;
    font-size: 2vh;
    font-weight: none;
}
footer{
    display: flex;
    width: 100vw;
    height: 10vh;

    background: #129799;
}

/* responsive */